<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head> 

    <div class="container">
   		<div class="row">
   			<div class="col-lg-2 col-height ramme">
   				<img class="logo" src="../../img/bonde_1.jpg">
			</div>
   			<div class="col-lg-2 col-height ramme">
   				<img class="logo" src="../../img/companys.jpg">
			</div>
   			<div class="col-lg-2 col-height ramme">
   				<img class="logo" src="../../img/Copenhagen-Luxe-1mb.png">
			</div>
   			<div class="col-lg-2 col-height ramme">
   				<img class="logo" src="../../img/deres.png">
			</div>
   			<div class="col-lg-2 col-height ramme">
   				<img class="logo" src="../../img/esprit.jpg">
			</div>
   			<div class="col-lg-2 col-height ramme">
   				<img class="logo" src="../../img/bonde.jpg">
			</div>
     </div>