<div class="container">
	<div class="slider-box">
		<img src="../../img/bonde_slider.jpg" class=slider>
	</div>

	<div class="container product">
		<div class="broeskrumme">
			<div class="broed"><a href="home">Home /</a></div>
 			<div class="broed"><a href="shop">Shop /</a></div>
  			<div class="aktiv broed">Bonde Boutique</div>
		</div>
	</div>
</div>
<div class="container">
<aside>
  <div class="tider" >
	  <script>
  			function check(id, event) {
			if(event.type == 'mouseover') {
			alert('this mouse has been hovered over ' + id)
			}
			}
	  </script>

   		<img  id="test" onmouseover="check('test',event)" class="logo-shop" src="../../img/bonde_1.jpg" align="middle"></br>
  		<h2> Åbnings Tider</h6>
  
 	 	<p> Hverdag  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;10:00-19:00</p>
   		<p> Lørdag   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;10:00-17:00</p>
  		<p>Første Søndag i  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11:00-16:00
 	 	</br>hver måned</p>
	</div>
	
  
  <div class="contact">
   <h2>Contact</h6>
   
  <p> Telephone  &nbsp;&nbsp;&nbsp;&nbsp; 46 36 12 55</p>
   <p> Website   &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.bondeboutique.dk/" target="_blank"><u>bondedoutique.dk</u>  </a></p>
   <a href="http://rostorv.dk/alt-om-ros-torv/kort-over-ros-torv/#312" target="_blank"> <h6>Find Us På Ro's Torv</h6> <img  src="../../img/map1.png" height="50" width="100" align="center"></a></br>
  </br> <a href="https://www.facebook.com/bondeboutique/" target="_blank"><h6>Find Us På Facebook</h6>  <img src="../../img/facebook.png" align="center"></br></a>
  </div>
</aside>
  <div class="shop-main">
  <table class="table"style="width:100%">
  <tr>
    <th><img src="../../img/item1.jpg" class="logo"></th>
    <th><h2>Vendbar Kjole<h2></br></th>	
    <th><font face="Playfair Display" color="black" size="5">Før:2199.Kr</font></br>
	<font face="Playfair Display" color="red" size="25">Nu:1050.kr</font>
	</th>
  </tr>
  <tr>
  <th><img src="../../img/item2.jpg" class="logo"></th>
    <th><h2>Vendbar Kjole<h2></br></th>	
    <th><font face="Playfair Display" color="black" size="5">Før:2199.Kr</font></br>
	<font face="Playfair Display" color="red" size="25">Nu:1050.kr</font>
	</th>
  </tr>
  <tr>
   <th><img src="../../img/item3.jpg" class="logo"></th>
    <th><h2>Vendbar Kjole<h2></br></th>	
    <th><font face="Playfair Display" color="black" size="5">Før:1999.Kr</font></br>
	<font face="Playfair Display" color="red" size="25">Nu:550.kr</font>
	</th>
  </tr>
  <tr>
  <th><img src="../../img/item1.jpg" class="logo"></th>
    <th><h2>Vendbar Kjole<h2></br></th>	
    <th><font face="Playfair Display" color="black" size="5">Før:999.Kr</font></br>
	<font face="Playfair Display" color="red" size="25">Nu:450.kr</font>
	</th>
  </tr>
  <tr>
  <th><img src="../../img/item2.jpg" class="logo"></th>
    <th><h2>Vendbar Kjole<h2></br></th>	
    <th><font face="Playfair Display" color="black" size="5">Før:2100.Kr</font></br>
	<font face="Playfair Display" color="red" size="25">Nu:999.kr</font>
	</th>
  </tr>
</table>
 
  </div>
</div>


